# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated dependency injection file
wire_gen.go
pkg/mod
# IntelliJ IDEA files
.idea
.directory

# Output of the go coverage tool,
*.out

# Test binary, built with `go test -c`
*.test
*.tmp

# Dependency directories
vendor/